* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #8e8e8e;
  text-rendering: optimizeLegibility;
}

main {
  padding: 0;
}

h1,
h2,
h3 {
  font-family: "EB Garamond", serif;
  color: #322c2c;
  line-height: 1.1;
}

h2,
h3 {
  color: #322c2c;
  font-weight: 400;
}

h1 {
  font-size: 2.325rem;
  font-weight: 500;
  margin: 0;
}

h2 {
  font-size: 2rem;
  margin: 0 0 2rem;
}

h3 {
  font-size: 1.75rem;
  margin: 0 0 2rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  text-align: center;
}

p {
  margin: 0 0 1.5rem;
}

p:nth-child(4) {
  margin: 0;
}

p.copyright {
  margin: 1.5rem 0;
}

a {
  color: #a5a5a5;
  text-decoration: none;
}

a:hover {
  color: #322c2c;
}

blockquote {
  font-style: italic;
  text-align: center;
  width: 40rem;
  height: auto;
  max-width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0 1.5rem 0 0;
}

.intro {
  margin: 1rem 0;
  padding: 0;
  width: 100%;
  color: rgb(84, 84, 85);
}

.container {
  margin: auto;
  padding: 0 1rem;
  max-width: 75rem;
  width: 100;
  background-color: transparent;
}

.grid > [class*="column-"] {
  padding: 1rem;
}

.section-heading {
  display: inline-block;
  -webkit-transform: rotate(270deg);
  margin-top: 4rem;
}

.info {
  display: grid;
  grid-template-areas: "about image image info info info";
  gap: 1rem;
  padding: 1rem;
}

.img-ml {
  margin-left: -4rem;
}

@media (max-width: 850px) {
  body {
    font-size: 1.125rem;
  }

  nav {
    padding: 2.5rem 0 2.5rem 0;
    ul {
      justify-content: flex-end;
    }
  }

  h1 {
    font-size: 3.25rem;
  }

  h2 {
    font-size: 2.75rem;
  }

  h3 {
    font-size: 2.25rem;
  }

  img {
    height: 40rem;
  }

  .section-heading {
    position: absolute;
    transform-origin: top left;
    transform: rotate(-90deg) translateX(-100%);
  }

  .intro {
    padding: 1rem;
  }

  blockquote {
    width: 30rem;
    height: 40rem;
  }
}
