* {
  box-sizing: border-box;
}

body {
  /* font-family: "Montserrat", sans-serif !important;
    font-size: "Montserrat", sans-serif-body !important;
    line-height: 1em !important; */
  background-image: url("../assets/images/css-images/sign-background.jpg");
}
button {
  background-color: transparent;
  padding: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
}

input {
  background-color: transparent;
  padding: 0;
  border: 0;
  outline: 0;
}

input[type="submit"] {
  cursor: pointer;
}

input::placeholder {
  font-size: 0.85rem;
  font-family: "Montserrat", sans-serif;
  font-weight: "Montserrat", sans-serif-light;
  letter-spacing: 0.1rem;
  color: #ccc;
}

/**
    * Bounce to the left side
    */
@keyframes bounceLeft {
  0% {
    transform: translate3d(100%, -50%, 0);
  }

  50% {
    transform: translate3d(-30px, -50%, 0);
  }

  100% {
    transform: translate3d(0, -50%, 0);
  }
}
/**
    * Bounce to the left side
    */
@keyframes bounceRight {
  0% {
    transform: translate3d(0, -50%, 0);
  }

  50% {
    transform: translate3d(calc(100% + 30px), -50%, 0);
  }

  100% {
    transform: translate3d(100%, -50%, 0);
  }
}
/**
    * Show Sign Up form
    */
@keyframes showSignUp {
  100% {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes showLogin {
  100% {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
}

/**
    * Page background
    */
.user {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.user_options-container {
  position: relative;
  width: 80%;
  background-color: #292929;
}

.user_options-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(#222222, 0.85);
  border-radius: 3px;
}

/**
    * Registered and Unregistered user box and text
    */
.user_options-registered,
.user_options-unregistered {
  width: 50%;
  padding: 75px 45px;

  color: #fff;
  font-weight: "Montserrat", sans-serif-light;
}

.user_registered-title,
.user_unregistered-title {
  margin-bottom: 15px;
  font-size: 1.66rem;
  line-height: 1em;
}

.user_unregistered-text,
.user_registered-text {
  font-size: 0.83rem;
  line-height: 1.4em;
}

.user_registered-login,
.user_unregistered-signup {
  margin-top: 30px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px 30px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: 0.2rem;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.user_registered-login:hover,
.user_unregistered-signup:hover {
  color: rgba(#222222, 0.85);
  background-color: #ccc;
}

/**
    * Login and signup forms
    */
.user_options-forms {
  position: absolute;
  top: 50%;
  left: 30px;
  width: calc(50% - 30px);
  min-height: 460px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 2px 0 15px rgba(#000, 0.25);
  overflow: hidden;
  transform: translate3d(100%, -50%, 0);
  transition: transform 0.4s ease-in-out;
}

.user_forms-login {
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

.forms_title {
  margin-bottom: 40px; /*45*/
  font-size: 1.5rem;
  font-weight: "Montserrat", sans-serif-medium;
  line-height: 1em;
  text-transform: uppercase;
  color: rgb(216, 27, 96);
  letter-spacing: 0.1rem;
}

.forms_field:not(:last-of-type) {
  margin-bottom: 10px;
}

.forms_field-input {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 6px 20px 6px 6px;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: "Montserrat", sans-serif-light;
  color: darken(#ccc, 30%);
  letter-spacing: 0.1rem;
  transition: border-color 0.2s ease-in-out;
}

.forms_field-input:focus {
  border-color: darken(#ccc, 30%);
}

.forms_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 35px;
}

.forms_buttons-forgot {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.1rem;
  color: #ccc;
  text-decoration: underline;
  transition: color 0.2s ease-in-out;
}

.forms_buttons-forgot:hover {
  color: darken(#ccc, 10%);
}

.forms_buttons-action {
  background-color: rgb(216, 27, 96);
  border-radius: 3px;
  padding: 10px 35px;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: "Montserrat", sans-serif-light;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: background-color 0.2s ease-in-out;
}

.forms_buttons-action:hover {
  background-color: rgb(255, 163, 197);
  color: rgb(168, 18, 73);
}

.user_forms-signup,
.user_forms-login {
  position: absolute;
  top: 50px; /*70*/
  left: 40px;
  width: calc(100% - 80px);
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out,
    transform 0.5s ease-in-out;
}

.user_forms-signup {
  transform: translate3d(120px, 0, 0);
}

.forms_buttons {
  justify-content: flex-end;
}

.user_forms-login {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  visibility: visible;
}

/**
    * Triggers
    */

.user_forms-signup {
  animation: showSignUp 1s forwards;
}

.user_forms-login {
  animation: showLogin 1s forwards;
}

.user_forms-login {
  transform: translate3d(-120px, 0, 0);
}

.user_options-forms.bounceRight {
  animation: bounceRight 1s forwards;
}

.user_options-forms.bounceLeft {
  animation: bounceLeft 1s forwards;
}

.forms_fieldset {
  border-style: none;
}
/**
    * Responsive 990px
    */
/* @media screen and (max-width: 990px)
     .user_options-forms
       min-height: 350px
       
       .forms_buttons
         flex-direction: column
     
       .user_forms-login
         .forms_buttons-action
           margin-top: 30px
           
       .user_forms-signup,
       .user_forms-login
         top: 40px
         
     .user_options-registered,
     .user_options-unregistered
       padding: 50px 45px; */
